:root {
    --bg: #060606;
    --text: #e4e4e7;
    --text-dim: #A6A6A6;
    --border: #262626;
    --highlight: #ffffff;
    
    --mono: Gotham, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--mono);
    font-size: 13px;
    line-height: 1.6;
    max-width: 680px;
    margin: 80px auto;
    padding: 0 24px;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.meta {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--text-dim);
}

.meta a {
    color: var(--text-dim);
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease;
}

.meta a:hover {
    color: var(--highlight);
    text-decoration: none;
}

.svg-item {
    text-align: center;
}

h2 { 
    font-size: 14px; 
    font-weight: 600;
    margin-top: 50px; 
    margin-bottom: 20px;
    text-transform: uppercase; 
    color: var(--highlight);
    letter-spacing: 0.05em;
    
    border-left: none; 
    padding-left: 0;
}

p { 
    margin-bottom: 24px; 
    color: var(--text);
}

a { 
    color: var(--text); 
    text-decoration: underline; 
    text-decoration-color: var(--border); 
    text-underline-offset: 4px;
    transition: all 0.2s ease;
}

a:hover { 
    color: var(--highlight); 
    text-decoration-color: var(--highlight);
}